/data/*
/PN-GAIA/*
/.ipynb_checkpoints/
Figs/.fuse_hidden000016e600000001
SySt-PS-Gaia-old.ecsv
Star2-Gaia-distance.ecsv
Star2-PS-Gaia.ecsv
CV-Gaia-distance.ecsv
CV-PS-GaiaEDR3.ecsv
star-Smart.csv
programs/fits_utils.py
match_gaia_tap/star-Smart.csv
match_gaia_tap/PN_gaia.csv
Model-PN/*
Cloudy/*
Model-PNNew/*
Model-PNNew/models/DdDm1_L4/*
!Model-PNNew/models/DdDm1_L4/*.jpg
known-pn/PNPRTM1/.fuse_h*
*.pyc
*.csv
*.fits
*~
*#
